<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User page</title>
</head>
<body>
<h1>User page</h1>
<h2>User : <span th:text="${currentUser.login}"></span></h2>
<span>ID : <span th:text="${currentUser.id}"></span></span><br>
<span>Gold : <span th:text="${currentUser.gold}"></span></span><br>

<form action="/account.html/" method="post" id="delete">
    <input type="checkbox" name="delete" value="deleteMarked">Delete your account?<br>
    <button type="submit" name="deleteButton">Delete</button>
</form>
</body>
</html>